.body {
  background-color: #EBD5B3;
}

.delete {
  background-color: #787e9a;
  color: #d8d3d1;
  font-size: 15px;
  max-height: 30px;
  margin-right: 5px;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  margin-left: 10%;
  font-size: 50px;
}

p {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

#newItem {
  width: 60%;
  margin-left: 10px;
}

.toDoItem {
  font-size: 25px;
}

.toDoItem .complete p {
  text-decoration: line-through;
  color: #B8BAC1;
}

.toDoItem .mark-complete {
  margin-right: 10px;
}

.toDoItem p {
  margin-right: auto;
}

.filtered-items {
  margin-left: .5rem;
  padding: .5rem 1rem;
  background: none;
  border: none;
}

.active {
  background-color: #4396d6;
  border-radius: 1rem;
  color: #3C3C48;
}

.bottom-content {
  margin-top: 5px;
}